.count-badge {
	transition: opacity 0.2s;
}

.remove-btn {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
	width: 25px;
	height: 25px;
	transition: opacity 0.2s;
	font-size: 0.7rem;
	padding: 2px 4px;
}

.list-group-item:hover .count-badge {
	opacity: 0;
}

.list-group-item:hover .remove-btn {
	opacity: 1;
}
